.menuLogoContainer {
    display: flex;
}

.containerNavBar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    max-width: 1200px;
    /* max-width: 90%; */
    margin: 0 auto;
    padding: 1rem 0;
}

.mobileMenuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileMenuContainer img {
    display: none !important;
}

@media(max-width:800px) {
    .containerNavBar {
        flex-direction: column;
    }
    .headermenuCart {
        display: flex;
        justify-content: space-around;
    }
    .mobileMenuContainer img {
        display: block !important;
    }
}