.myAccountContainer {
    display: flex;
    align-items: center;
}

.myAccountContainer img {
    width: 16px;
}

.accountText {
    margin-left: 0.5rem;
    font-size: 13px;
    color: #7A7A7A;
}

.linkAccount {
    text-decoration: none;
    display: flex;
}

.myAccountContainerParent {
    display: flex;
}

@media(max-width:820px) {
    .myAccountContainerParent {
        display: none;
    }
}