.companyInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.companyInfoContainer p {
    margin: 0;
    line-height: 1.8
}

.titleText {
    font-size: 20px;
    font-weight: bold;
}

.addresText,
.districtText,
.mailText,
.numberText {
    font-size: 13px;
}