.contactInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}

.contactInfoContainer a {
    text-decoration: none;
}

.contactInfoContainer a:hover {
    text-decoration: underline;
}

.contactOption {
    display: flex;
    background: white;
    border-radius: 5px;
    justify-content: space-around;
}

.contactOption p {
    color: black;
    font-size: 12px;
    font-weight: 600;
}

@media(max-width:820px) {
    .contactInfoContainer a {
        padding: 1rem 0;
    }
}