.partnersInfoContainer {
    display: flex;
    justify-content: center;
}

.partnerContainer {
    width: fit-content;
    padding: 0 0.5rem;
}

.partnerContainer p {
    font-size: 11px;
    margin: 0.2rem 0;
}

@media(max-width:820px) {
    .partnersInfoContainer {
        width: 100%;
        justify-content: space-around;
    }
}